 body {
    margin: 0;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background-color: #0b0423;
    color: white;   
}
.button {
  background-color: #f5b041;
  border: none;
  padding: 12px 25px;
  font-weight: 700;
  color: #121224;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}
.button:hover {
  background-color: #d98e2e;
}
.img-fluid{
  height: 400px; 
  width: 100%; 
  object-fit: cover;
}
/* Navbar section */
.navbar {
  background-color: #1b1440;
}
 .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #f5b041;
  font-family: Georgia, 'Times New Roman', serif;
}
.logo{
   font-size: 1.5rem;
  color: #f9c851;
}
.brand-text {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}
.navbar-nav .nav-link {
  color: white;
  transition: background-color 0.3s, color 0.3s;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 500;
}
.nav-link:hover {
  background-color: #f5b041;
  color: #0b0423;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
#sideNavbarRight {
  width: 220px;
  height: 100vh;
  background-color: #1b1440;
  padding: 60px 20px 20px;
  z-index: 1050;
}
#sideNavbarRight a{
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s;
}
#sideNavbarRight a:hover {
  background-color: #f5b041;
  color: #0b0423;
}
/* Hero section */
.hero-section {
  /* background-image: url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=80');*/
  background-image: url('images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 20px 80px;
  position: relative;
  min-height: 100vh;
  text-align: left;
}
.hero-section h1{
  color: #d98e2e;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bolder;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
.hero-section p {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: whitesmoke;
  font-weight: bold;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* black overlay */
  z-index: 1;
  filter: brightness(0.7);
}
.hero-section .container {
  position: relative;
  z-index: 2;
}
/* Search section */
.custom-input {
  background-color: transparent;
  color: #f5b041;
  border: 2px solid #f5b041;
  border-right: none;
}
.custom-input::placeholder {
  color: whitesmoke;
  font-style: italic;
}
.custom-input:focus {
  outline: none;
  border-color: #f5b041;
  box-shadow: 0 0 0 3px rgba(245, 176, 65, 0.2);
}
.custom-button {
  background-color: #f5b041;
  color: #121224;
  border: 1px solid #f5b041;
  border-left: none;
}
.custom-button:hover {
  background-color: #d98e2e;
  color: white;
}
/* Card section */
.card-section h4,h2{
  color: #d98e2e;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bolder;
}
.card-section h5,h6,p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: whitesmoke;
}
.card-image {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}
/* Contact us section */
.contact-section {
  padding: 50px 0;
}
.contact-info h3{
  color: #d98e2e;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bolder;
}
.contact-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
}
.contact-form {
 background-color: #1f1b3a; 
  padding: 20px;
  border-radius: 8px;
  color: white;
}
.contact-form input, textarea {
  width: 100%;
  background-color: #2c2a4a;
  border: none;
  border-radius: 5px;
  color: #f5b041;
  padding: 12px 15px;
  margin-bottom: 15px;
  font-size: 1rem;
}
.contact-form input::placeholder,textarea::placeholder {
  color: #f5b041;
  font-style: italic;
}
.icon{
  color: #d98e2e;
  font-size: 1.3rem;
}
/* Footer section */
.footer {
  background-color: #0b0423;
  color: white;
  padding: 30px 20px;
}
.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-column {
  flex: 1 1 200px;
  margin: 10px;
}
.footer-column h4 {
  color: #f9c851;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  border-top: 1px solid #444;
  padding-top: 15px;
}
@media (max-width: 600px) {
   .logo {
    font-size: 1.2rem; 
  }
  .navbar-brand {
    gap: 8px; 
  }
    .brand-text {
    padding-left: 16px;
    font-size: 1.3rem;
  }
    .hero-section {
    padding: 60px 20px;
    text-align: center;
  }
  .hero-section .row {
    flex-direction: column;
    gap: 30px;
  }
  .hero-section h1 {
    font-size: 1.8rem;
  }
  .hero-section p {
    font-size: 1rem;
  }
   .hero-section .col-md-6 {
    margin-bottom: 20px;
  }  
    .contact-form input, .contact-form textarea {
    padding: 10px;
    font-size: 0.95rem;
  }
  .contact-section {
    text-align: center;
  }
   .footer-columns {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
   .footer-column {
    margin: 0 auto;
  }
}